:root {
  --max-width: 66rem; //1320px

  --spacing-1: 1rem;
  --spacing-2: 1.5rem;
  --spacing-3: 2.5rem;
  --spacing-4: 3.5rem;
  --spacing-5: 5rem;
  --spacing-6: 10rem;

  --font-size-1: 174px;
  --font-size-2: 96px;
  --font-size-3: 72px;
  --font-size-4: 60px;
  --font-size-5: 40px;
  --font-size-6: 36px;

  --font-weight-regular: 500;
  --font-weight-bold: 700;
  --font-weight-xbold: 800;

  --color-fg: black;
  --color-bg: white;

  --color-bg-trans-9: color-mix(in srgb, var(--color-bg), transparent 90%);
  --color-bg-trans-8: color-mix(in srgb, var(--color-bg), transparent 80%);

  --color-accent-1: #a593ff;
  --color-accent-2: #7c62ff;
  --color-accent-2: #386efa;
  --color-accent-3: #beb095;
  --color-accent-4: #fffb96;
  --color-accent-5: #fcc;
  --color-accent-6: #ff6c6c;
  --color-neutral-1: #a8a8a8;

  --transition-timing-1: cubic-bezier(0, 0, 0.2, 1);
  --transition-duration-1: 500ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: white;
    --color-bg: black;
  }

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1;
  background: var(--color-bg);
  color: var(--color-fg);
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-regular);
}

a {
  color: currentColor;
  transition: all var(--transition-timing-1) var(--transition-duration-1);

  &:hover,
  &:focus {
    color: var(--color-accent-6);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-6);
}

.h1 {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-bold);
  line-height: 0.83;
}

.h2 {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
  line-height: 0.96;
  margin-block: 50px;
}

.h3 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-bold);
  line-height: 0.96;
}

.h4 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  font-weight: 700;
}

.h5 {
  font-size: var(--font-size-5);
}

.h6 {
  font-size: var(--font-size-6);
}

p {
  margin-bottom: 1em;
}

.mt-1 {
  margin-top: var(--spacing-1);
}
.mt-2 {
  margin-top: var(--spacing-2);
}
.mt-3 {
  margin-top: var(--spacing-3);
}
.mt-4 {
  margin-top: var(--spacing-4);
}
.mt-5 {
  margin-top: var(--spacing-5);
}
.mt-6 {
  margin-top: var(--spacing-6);
}

.my-1 {
  margin-block: var(--spacing-1);
}
.my-2 {
  margin-block: var(--spacing-2);
}
.my-3 {
  margin-block: var(--spacing-3);
}
.my-4 {
  margin-block: var(--spacing-4);
}
.my-5 {
  margin-block: var(--spacing-5);
}
.my-6 {
  margin-block: var(--spacing-6);
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--spacing-4);
}

.button {
  border: 0.2rem solid var(--color-fg);
  margin-top: 0;
  margin-bottom: 0;
  padding: var(--spacing-1) var(--spacing-4);
  color: currentColor;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  border-radius: 3rem;
  padding-inline: 3rem;
  background: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button.secondary {
}

img {
  border-radius: 0.25rem;
  background: #1f1f1f;
}

main {
  width: var(--max-width);
  margin-top: 5rem;
  margin-inline: auto;
  padding-block: 1rem;
}

.box {
  margin-top: 7rem;

  > div {
    padding: 1rem;
    background: #1f1f1f;
    border-radius: 0.5rem;
  }

  h4 {
    margin-top: 0;
  }
}

.page__signin {
}

.cols-2 {
  display: flex;
  justify-content: space-between;

  .col-1,
  .col-2 {
    min-width: 50%;
    display: flex;
    align-items: center;
  }
  .col-2 {
    justify-content: flex-end;
  }
}
