:root {
  --max-width: 66rem; //1320px

  --spacing-1: 1rem;
  --spacing-2: 1.5rem;
  --spacing-3: 2.5rem;
  --spacing-4: 3.5rem;
  --spacing-5: 5rem;
  --spacing-6: 10rem;

  --font-size-1: 174px;
  --font-size-2: 96px;
  --font-size-3: 72px;
  --font-size-4: 60px;
  --font-size-5: 40px;
  --font-size-6: 36px;
  --font-size-7: 20px;

  --font-weight-regular: 500;
  --font-weight-bold: 700;
  --font-weight-xbold: 800;

  --color-fg: black;
  --color-bg: white;

  --color-bg-trans-9: color-mix(in srgb, var(--color-bg), transparent 90%);
  --color-bg-trans-8: color-mix(in srgb, var(--color-bg), transparent 80%);

  --color-fg-trans-5: color-mix(in srgb, var(--color-fg), transparent 50%);

  --color-surface-1: color-mix(in srgb, var(--color-fg), transparent 90%);

  --color-accent-1: #a593ff;
  --color-accent-2: #7c62ff;
  --color-accent-2: #386efa;
  --color-accent-3: #beb095;
  --color-accent-4: #fffb96;
  --color-accent-5: #fcc;
  --color-accent-6: #ff6c6c;
  --color-neutral-1: #a8a8a8;

  --transition-timing-1: cubic-bezier(0, 0, 0.2, 1);
  --transition-duration-1: 500ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: white;
    --color-bg: black;
  }

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1;
  background: var(--color-bg);
  color: var(--color-fg);
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-regular);
  overflow: scroll;
  overflow-x: auto;
}

a {
  color: currentColor;
  transition: color var(--transition-timing-1) var(--transition-duration-1);

  &:hover,
  &:focus {
    color: var(--color-accent-6);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-6);
  margin: 0 0 0.8em 0;
}

.h1 {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-bold);
  line-height: 0.83;
}

.h2 {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
  line-height: 0.96;
  margin-block: 50px;
}

.h3 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-bold);
  line-height: 0.96;
}

.h4 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  font-weight: 700;
}

.h5 {
  font-size: var(--font-size-5);
}

.h6 {
  font-size: var(--font-size-6);
}

.h7,
pre {
  font-size: var(--font-size-7);
  opacity: 0.3;
}

p {
  margin-bottom: 1em;
}

.serif {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  text-transform: uppercase;
}

.mt-1 {
  margin-top: var(--spacing-1);
}
.mt-2 {
  margin-top: var(--spacing-2);
}
.mt-3 {
  margin-top: var(--spacing-3);
}
.mt-4 {
  margin-top: var(--spacing-4);
}
.mt-5 {
  margin-top: var(--spacing-5);
}
.mt-6 {
  margin-top: var(--spacing-6);
}

.my-1 {
  margin-block: var(--spacing-1);
}
.my-2 {
  margin-block: var(--spacing-2);
}
.my-3 {
  margin-block: var(--spacing-3);
}
.my-4 {
  margin-block: var(--spacing-4);
}
.my-5 {
  margin-block: var(--spacing-5);
}
.my-6 {
  margin-block: var(--spacing-6);
}

.button {
  border: 0.2rem solid var(--color-fg);
  margin-top: 0;
  margin-bottom: 0;
  padding: var(--spacing-1) var(--spacing-4);
  color: currentColor;
  font-size: inherit;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  border-radius: 3rem;
  padding-inline: 3rem;
  background: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--color-accent-6);
  }

  &[data-size="small"] {
    font-size: 0.6em;
    border-width: 0.1rem;
    padding: var(--spacing-1) var(--spacing-3);
  }
}

.button.secondary {
}

img {
  border-radius: 0.25rem;
  background: #1f1f1f;
}

main {
  width: var(--max-width);
  margin-top: var(--spacing-6);
  margin-inline: auto;
  padding-inline: 3rem;
}

.page__signin {
}

.cols-2 {
  display: flex;
  justify-content: space-between;

  .col-1,
  .col-2 {
    min-width: 50%;
    display: flex;
    align-items: center;
  }
  .col-2 {
    justify-content: flex-end;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-3);

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--spacing-4);
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-3);

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--spacing-4);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-2);
  background: var(--color-surface-1);
  border-radius: 0.5rem;
  min-height: 14rem;
  margin-bottom: var(--spacing-1);
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.25rem solid currentColor;
  padding: var(--spacing-2);
  margin-bottom: var(--spacing-2);

  width: 100%;

  h3 {
    margin-bottom: 0;
  }
}

.goal-title {
  text-transform: capitalize;
}

.page-wrap {
  margin-inline: auto;
  padding-inline: 3rem;
  max-width: var(--max-width);
}

footer {
  color: var(--color-fg-trans-5);
}
