.actions {
  li {
    margin-left: 0.5em;
    padding-left: 0.5em;

    > div {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  span,
  .status {
    text-transform: capitalize;
  }
}
