.goal {
  margin-bottom: var(--spacing-6);
  .heading {
    display: flex;
    gap: var(--spacing-3);
  }

  .imageWrap {
    overflow: hidden;
    border-radius: 0.25rem;
    width: 20rem;
    height: 20rem;
    margin-bottom: var(--spacing-2);

    img {
      transition: scale var(--transition-timing-1) var(--transition-duration-1);
    }
  }

  article:hover {
    img {
      scale: 1.2;
    }
  }

  a {
    width: 100%;
  }
}
