.goalDetails {
  margin-bottom: var(--spacing-6);

  .heading {
    display: flex;
    gap: var(--spacing-3);

    span {
      text-transform: capitalize;
    }
  }
}

.project {
  padding: var(--spacing-2);
  background: var(--color-surface-1);
  border-radius: 0.5rem;
  min-height: 14rem;
  margin-bottom: var(--spacing-1);
}
